
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 295rem;
}.resource-snn {
  width: 100%;
  height: 80rem;
  position: relative;
  overflow: hidden;
  background-color: #000000;

  .search-bar-CKG {
    top: 7.2rem;
    width: 58.5757rem;
    height: 7.6rem;
    position: absolute;
    left: 5.2rem;

    .group-17-7x2 {
      width: 54.6377rem;
      position: absolute;
      white-space: nowrap;
      border: solid 0.2235rem #ffffff;
      height: 7.6rem;
      left: 0;
      font-size: 2.4rem;
      color: #ffffff;
      font-family: SF Pro, 'Source Sans Pro';
      line-height: 1.2575;
      backdrop-filter: blur(1.3971rem);
      box-sizing: border-box;
      padding: 2.403rem 3.681rem 2.097rem 3.681rem;
      top: 0;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 4.4706rem;
    }
    .group-15-KYJ {
      position: absolute;
      left: 47.6757rem;
      top: 0.8rem;
      width: 10.9rem;
      height: 6rem;

      .ellipse-1-rYE {
        top: 0;
        background-color: #ffffff;
        border-radius: 3rem;
        width: 6rem;
        height: 6rem;
        position: absolute;
        left: 0;
      }
      .search-oCa {
        height: 3.8rem;
        position: absolute;
        left: 1.6rem;
        letter-spacing: 0.06rem;
        color: rgba(0, 0, 0, 0.75);
        font-family: Font Awesome 5 Free, 'Source Sans Pro';
        white-space: nowrap;
        width: 9.3rem;
        top: 1.3rem;
        font-size: 3rem;
        font-weight: 900;
        line-height: 1.2575;
      }
    }
  }
  .card-UpW {
    background-color: #ffffff;
    border-radius: 1.2rem;
    width: 34.4rem;
    height: 35.3rem;
    position: absolute;
    left: 67.8rem;
    top: 2.4rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.200000003), 0 0.01rem 0.03rem rgba(0, 0, 0, 0.1000000015);

    .cardpattern-p7g {
      height: 33.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      .image-LLv {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:831c5524ed0a203e0b627d633f500564c1a6c3bf');
        border-radius: 1.2rem 1.2rem 0 0;
        background-position: center;
        flex-shrink: 0;
        width: 100%;
        height: 20rem;
        overflow: hidden;
        position: relative;
      }
      .auto-group-9gru-ecW {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.1rem 1.6rem 0rem 1.6rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-52s9-yen {
          width: 100%;
          height: 6.2rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 3.4rem;

          .cardheader-Jwx {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: flex-start;
            width: 31.2rem;
            height: 4.5rem;

            .content-qgz {
              position: relative;
              flex-shrink: 0;
              margin: 0.5rem 16.7rem 0rem 0rem;
              width: 12.1rem;
              height: 4rem;

              .imageplaceholder-ADU {
                background-image: url('REPLACE_IMAGE:b27e8751f59cc7d1f3ea74d50c88931384d33338');
                border-radius: 2rem;
                height: 4rem;
                position: absolute;
                left: 0;
                top: 0;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                width: 4rem;
                overflow: hidden;
                background-position: center;

                .content-78i {
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  position: relative;
                }
              }
              .textitem-qqQ {
                width: 11.5rem;
                height: 3.5rem;
                position: absolute;
                left: 0.6rem;
                top: 0.2rem;

                .text-NqL {
                  width: 11.5rem;
                  height: 2.4rem;
                  position: absolute;
                  left: 0;
                  font-weight: 600;
                  line-height: 1;
                  font-family: Pretendard, 'Source Sans Pro';
                  top: 0;
                  font-size: 2.4rem;
                  color: #000000;
                  white-space: nowrap;
                }
                .text-HxJ {
                  letter-spacing: -0.024rem;
                  color: rgba(60, 60, 67, 0.6000000238);
                  width: 9.1rem;
                  position: absolute;
                  left: 0;
                  font-size: 1.5rem;
                  font-weight: 400;
                  line-height: 1.3333333333;
                  font-family: SF Pro Text, 'Source Sans Pro';
                  height: 2rem;
                  top: 1.5rem;
                  white-space: nowrap;
                }
              }
            }
            .iconplaceholder-PEe {
              width: 2.4rem;
              height: 2.4rem;
              overflow: hidden;
              position: relative;
              flex-shrink: 0;

              .content-L9t {
                background-color: rgba(60, 60, 67, 0.3000000119);
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
              }
            }
          }
          .content-H58 {
            height: 2rem;
            left: 0.6rem;
            color: #5b5b5b;
            width: 27.2rem;
            top: 4.2rem;
            line-height: 1.3333333333;
            align-items: center;
            font-weight: 400;
            overflow: hidden;
            font-size: 1.5rem;
            font-family: Pretendard, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            justify-content: center;
            position: absolute;
          }
        }
        .actionsarea-Aei {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-left: 0.6rem;
          box-sizing: border-box;
          padding: 0.002rem 0.376rem 0.003rem 0rem;
          width: calc(100% - 0.6rem);
          height: 3rem;

          .tag-5Wn {
            align-items: center;
            flex-shrink: 0;
            margin-right: 10.1737rem;
            height: 100%;
            display: flex;
            column-gap: 0.8rem;

            .badge-tag-1vE {
              height: 100%;
              align-items: center;
              justify-content: center;
              display: flex;
              line-height: 1.6846876144;
              flex-shrink: 0;
              font-weight: 600;
              font-family: Pretendard, 'Source Sans Pro';
              white-space: nowrap;
              background-color: #e5ecf6;
              width: 3.998rem;
              font-size: 1.6rem;
              color: rgba(0, 0, 0, 0.400000006);
              border-radius: 0.4rem;
            }
            .badge-tag-uEv {
              width: 5.398rem;
              display: flex;
              border-radius: 0.4rem;
              flex-shrink: 0;
              padding: 0.148rem 0.599rem 0.147rem 0.599rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.6846876144;
              box-sizing: border-box;
              height: 100%;
              background-color: #e5ecf6;
              color: rgba(0, 0, 0, 0.400000006);
              font-family: Pretendard, 'Source Sans Pro';
              white-space: nowrap;
            }
            .badge-tag-AwY {
              padding: 0.148rem 0.599rem 0.147rem 0.599rem;
              height: 100%;
              line-height: 1.6846876144;
              font-family: Pretendard, 'Source Sans Pro';
              white-space: nowrap;
              width: 6.798rem;
              font-weight: 600;
              border-radius: 0.4rem;
              flex-shrink: 0;
              box-sizing: border-box;
              display: flex;
              color: rgba(0, 0, 0, 0.400000006);
              font-size: 1.6rem;
              background-color: #e5ecf6;
            }
          }
          .launch-2yk {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0rem;
            width: 2.2562rem;
            height: 2.25rem;
          }
        }
      }
    }
  }
  .tag-W8E {
    height: 23.2rem;
    left: 106.3rem;
    top: 3.1rem;
    overflow: hidden;
    border-radius: 0.5rem;
    width: 31.8rem;
    position: absolute;
    border: dashed 0.1rem #9747ff;
    box-sizing: border-box;

    .item-3-EK8 {
      width: 17.794rem;
      height: 2.995rem;
      position: absolute;
      left: 2rem;
      top: 2rem;
      display: flex;
      align-items: center;

      .badge-tag-wzE {
        font-size: 1.6rem;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 0.4rem;
        margin-right: 0.8rem;
        height: 100%;
        font-weight: 600;
        line-height: 1.6846876144;
        font-family: Pretendard, 'Source Sans Pro';
        align-items: center;
        width: 3.998rem;
        display: flex;
        color: rgba(0, 0, 0, 0.400000006);
        white-space: nowrap;
        background-color: #e5ecf6;
      }
      .badge-tag-qJv {
        white-space: nowrap;
        background-color: #e5ecf6;
        border-radius: 0.4rem;
        box-sizing: border-box;
        font-weight: 600;
        font-family: Pretendard, 'Source Sans Pro';
        height: 100%;
        line-height: 1.6846876144;
        display: flex;
        font-size: 1.6rem;
        color: rgba(0, 0, 0, 0.400000006);
        flex-shrink: 0;
        margin-right: 0.8rem;
        padding: 0.147rem 0.599rem 0.148rem 0.599rem;
        width: 5.398rem;
      }
      .badge-tag-VuG {
        background-color: #e5ecf6;
        display: flex;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.400000006);
        font-family: Pretendard, 'Source Sans Pro';
        width: 6.798rem;
        height: 100%;
        line-height: 1.6846876144;
        box-sizing: border-box;
        font-size: 1.6rem;
        white-space: nowrap;
        padding: 0.147rem 0.599rem 0.148rem 0.599rem;
        border-radius: 0.4rem;
        flex-shrink: 0;
      }
    }
    .item-4-BGJ {
      height: 2.995rem;
      position: absolute;
      left: 2rem;
      top: 18.185rem;
      display: flex;
      align-items: center;
      width: 17.794rem;

      .badge-tag-hVY {
        height: 100%;
        position: relative;
        background-color: #e5ecf6;
        border-radius: 0.4rem;
        flex-shrink: 0;
        margin-right: 0.8rem;
        width: 3.998rem;

        .text-3pJ {
          font-family: Pretendard, 'Source Sans Pro';
          width: 2rem;
          height: 2.7rem;
          position: absolute;
          left: 0.599rem;
          font-size: 1.6rem;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.400000006);
          white-space: nowrap;
          top: 0.1475rem;
          display: flex;
          line-height: 1.6846876144;
        }
        .badge-tag-kTp {
          position: absolute;
          top: 0.015rem;
          border-radius: 0.4rem;
          height: 2.995rem;
          left: 0;
          line-height: 1.6846876144;
          font-family: Pretendard, 'Source Sans Pro';
          align-items: center;
          background-color: #e5ecf6;
          width: 3.998rem;
          display: flex;
          font-size: 1.6rem;
          white-space: nowrap;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.400000006);
          justify-content: center;
        }
      }
      .badge-tag-RK4 {
        margin-right: 0.8rem;
        width: 5.398rem;
        height: 100%;
        position: relative;
        background-color: #e5ecf6;
        border-radius: 0.4rem;
        flex-shrink: 0;

        .text-Zw4 {
          font-size: 1.6rem;
          color: rgba(0, 0, 0, 0.400000006);
          font-family: Pretendard, 'Source Sans Pro';
          width: 2.9rem;
          height: 2.7rem;
          left: 0.599rem;
          top: 0.1475rem;
          display: flex;
          white-space: nowrap;
          position: absolute;
          font-weight: 600;
          line-height: 1.6846876144;
        }
        .badge-tag-swk {
          height: 2.995rem;
          left: 0;
          background-color: #e5ecf6;
          border-radius: 0.4rem;
          box-sizing: border-box;
          width: 5.398rem;
          display: flex;
          font-weight: 600;
          padding: 0.1475rem 0.599rem;
          top: 0.015rem;
          line-height: 1.6846876144;
          color: rgba(0, 0, 0, 0.400000006);
          font-family: Pretendard, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          font-size: 1.6rem;
        }
      }
      .badge-tag-LqL {
        width: 6.798rem;
        height: 100%;
        position: relative;
        background-color: #e5ecf6;
        border-radius: 0.4rem;
        flex-shrink: 0;

        .text-JXG {
          line-height: 1.6846876144;
          color: rgba(0, 0, 0, 0.400000006);
          width: 3.9rem;
          position: absolute;
          top: 0.1475rem;
          display: flex;
          font-size: 1.6rem;
          font-weight: 600;
          height: 2.7rem;
          left: 0.599rem;
          font-family: Pretendard, 'Source Sans Pro';
          white-space: nowrap;
        }
        .badge-tag-1Rg {
          box-sizing: border-box;
          display: flex;
          line-height: 1.6846876144;
          border-radius: 0.4rem;
          height: 2.995rem;
          position: absolute;
          font-weight: 600;
          white-space: nowrap;
          padding: 0.1475rem 0.599rem;
          left: 0;
          top: 0.015rem;
          font-size: 1.6rem;
          color: rgba(0, 0, 0, 0.400000006);
          font-family: Pretendard, 'Source Sans Pro';
          width: 6.798rem;
          background-color: #e5ecf6;
        }
      }
    }
    .item-4-cwG {
      padding: 0rem 0rem 0rem 18.594rem;
      width: 25.392rem;
      height: 2.995rem;
      position: absolute;
      left: 2rem;
      top: 18.2rem;
      box-sizing: border-box;

      .badge-tag-XYS {
        box-sizing: border-box;
        padding: 0.1475rem 0.599rem;
        border-radius: 0.4rem;
        font-weight: 600;
        line-height: 1.6846876144;
        color: rgba(0, 0, 0, 0.400000006);
        font-family: Pretendard, 'Source Sans Pro';
        width: 100%;
        height: 100%;
        display: flex;
        font-size: 1.6rem;
        white-space: nowrap;
        background-color: #e5ecf6;
      }
    }
    .item-2-Rti {
      width: 10.196rem;
      height: 2.995rem;
      position: absolute;
      left: 2rem;
      top: 7.395rem;
      display: flex;
      align-items: center;

      .badge-tag-xdk {
        color: rgba(0, 0, 0, 0.400000006);
        margin-right: 0.8rem;
        font-size: 1.6rem;
        align-items: center;
        justify-content: center;
        background-color: #e5ecf6;
        border-radius: 0.4rem;
        flex-shrink: 0;
        width: 3.998rem;
        font-family: Pretendard, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 600;
        line-height: 1.6846876144;
        height: 100%;
        display: flex;
      }
      .badge-tag-rDL {
        width: 5.398rem;
        white-space: nowrap;
        padding: 0.1475rem 0.599rem;
        height: 100%;
        font-size: 1.6rem;
        font-family: Pretendard, 'Source Sans Pro';
        display: flex;
        font-weight: 600;
        line-height: 1.6846876144;
        background-color: #e5ecf6;
        border-radius: 0.4rem;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.400000006);
        flex-shrink: 0;
      }
    }
    .item-1-9CS {
      width: 3.998rem;
      height: 2.995rem;
      position: absolute;
      left: 2rem;
      top: 12.79rem;

      .badge-tag-gCN {
        height: 100%;
        font-weight: 600;
        line-height: 1.6846876144;
        color: rgba(0, 0, 0, 0.400000006);
        justify-content: center;
        background-color: #e5ecf6;
        width: 100%;
        font-size: 1.6rem;
        font-family: Pretendard, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        border-radius: 0.4rem;
        display: flex;
      }
    }
  }
  .component-1-ZGA {
    padding: 2rem;
    width: 20.4rem;
    height: 7.6rem;
    box-sizing: border-box;
    position: absolute;
    left: 106.3rem;
    top: 29.2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: dashed 0.1rem #9747ff;
    border-radius: 0.5rem;

    .selecty-sXk {
      background-color: #545454;
      text-align: center;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.8rem;
      flex-shrink: 0;
      width: 7.3rem;
      font-size: 2.2rem;
      font-weight: 700;
      white-space: nowrap;
      margin-right: 1.8rem;
      line-height: 1.6363636364;
      letter-spacing: -0.044rem;
      height: 100%;
      font-family: Pretendard, 'Source Sans Pro';
    }
    .selectn-Z9g {
      color: rgba(255, 255, 255, 0.5);
      align-items: center;
      background-color: #282828;
      text-align: center;
      line-height: 1.6363636364;
      border-radius: 0.8rem;
      flex-shrink: 0;
      font-size: 2.2rem;
      font-family: Pretendard, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.3rem;
      font-weight: 500;
      display: flex;
      justify-content: center;
      height: 100%;
      letter-spacing: -0.044rem;
    }
  }
  .rank-oJv {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1000000015);
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0 1.2rem;
    width: 41.4rem;
    left: 67.8rem;
    top: 43.2rem;
    height: 8.4rem;
    position: absolute;
    border-radius: 1.6rem;

    .contents-ign {
      width: 32.8rem;
      height: 6.8rem;
      display: flex;
      align-items: flex-start;

      .ribbon-TuG {
        text-align: center;
        line-height: 0.8;
        background-color: #f4a403;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        margin-right: 1.6rem;
        width: 4rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        border-radius: 0 0 2rem 2rem;
        height: 4rem;
        font-size: 2rem;
        color: #ffffff;
      }
      .text-9XC {
        margin-top: 1.6rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .magicform-Vqx {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.8rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1;
          color: #000000;
          font-family: Pretendard, 'Source Sans Pro';
        }
        .ai--q98 {
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.3333333333;
          color: #5b5b5b;
          font-family: Pretendard, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .start-contents-tdC {
    height: 53rem;
    left: 5.2rem;
    border: dashed 0.1rem #9747ff;
    overflow: hidden;
    row-gap: 2rem;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;
    width: 45.4rem;
    position: absolute;
    top: 19.7rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;

    .property-1default-PZx {
      box-sizing: border-box;
      padding-left: 1.4rem;
      width: 100%;
      height: 15rem;
      flex-shrink: 0;

      .step-vertical-artwork-active-vpn {
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;

        .auto-group-vuy7-Gte {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 1.4rem;
          width: 3.6rem;

          .line-top-1rE {
            margin: 0 1.7rem;
            width: calc(100% - 3.4rem);
            height: 5.7rem;
            background-color: #19c645;
            flex-shrink: 0;
          }
          .generic-letters-36-9hY {
            width: 100%;
            height: 3.6rem;
            position: relative;
            overflow: hidden;
            background-color: #e9ffee;
            border-radius: 1.8rem;
            flex-shrink: 0;

            .inside-background-6Mt {
              border-radius: 1.4rem;
              width: 2.8rem;
              height: 2.8rem;
              position: absolute;
              left: 0.4rem;
              top: 0.4rem;
              background-color: #19c645;
            }
            .item-3-RQA {
              width: 0.8rem;
              justify-content: center;
              font-weight: 500;
              line-height: 1.5;
              height: 2.4rem;
              display: flex;
              align-items: center;
              white-space: nowrap;
              left: 1.4rem;
              top: 0.6rem;
              position: absolute;
              font-size: 1.6rem;
              color: #ffffff;
              font-family: PingFang SC, 'Source Sans Pro';
            }
          }
          .line-bottom-6mC {
            margin: 0 1.7rem;
            width: calc(100% - 3.4rem);
            height: 5.7rem;
            background-color: #19c645;
            flex-shrink: 0;
          }
        }
        .start-EsQ {
          background-color: #ffffff;
          width: 35rem;
          height: calc(100% - 2.9005rem);
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1000000015);
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin: 1.4503rem 0;
          box-sizing: border-box;
          padding: 1.8rem 1.6rem;

          .text-NCv {
            width: 27.2rem;
            height: 100%;

            .frame-1171274796-7AW {
              margin: 0rem 8.7rem 0.5rem 0rem;
              width: calc(100% - 8.7rem);
              display: flex;
              align-items: flex-end;

              .magicform-dee {
                color: #000000;
                font-family: Pretendard, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 1.7rem 0.1rem 0rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1;
              }
              .star-rating-9st {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-top: 0.8rem;

                .frame-375269-K1g {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.4rem 0.1rem 0rem;
                  width: 1.6rem;
                  height: 1.6rem;
                }
                .item--dYA {
                  display: flex;
                  align-items: baseline;
                  font-weight: 400;
                  color: #777777;
                  white-space: nowrap;
                  font-family: Pretendard, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                  font-size: 1.2rem;
                  line-height: 1.2575;

                  .item--dYA-sub-0 {
                  }
                  .item--dYA-sub-1 {
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: 1.2575;
                    color: #777777;
                    font-family: Pretendard, 'Source Sans Pro';
                  }
                }
              }
            }
            .ai--n3g {
              margin-bottom: 0.8rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.3333333333;
              color: #5b5b5b;
              font-family: Pretendard, 'Source Sans Pro';
              white-space: nowrap;
            }
            .frame-1171274796-5oU {
              height: 2.6995rem;
              display: flex;
              align-items: center;

              .badge-tag-EAa {
                flex-shrink: 0;
                font-weight: 600;
                white-space: nowrap;
                align-items: center;
                border-radius: 0.4rem;
                margin-right: 0.6rem;
                font-size: 1.4rem;
                color: rgba(0, 0, 0, 0.400000006);
                font-family: Pretendard, 'Source Sans Pro';
                justify-content: center;
                width: 4.898rem;
                line-height: 1.7142855975;
                background-color: #e5ecf6;
                height: 100%;
                display: flex;
              }
              .badge-tag-7kA {
                align-items: center;
                white-space: nowrap;
                display: flex;
                color: rgba(0, 0, 0, 0.400000006);
                font-family: Pretendard, 'Source Sans Pro';
                justify-content: center;
                border-radius: 0.4rem;
                width: 4.898rem;
                font-size: 1.4rem;
                font-weight: 600;
                background-color: #e5ecf6;
                flex-shrink: 0;
                margin-right: 0.6rem;
                height: 100%;
                line-height: 1.7142855975;
              }
              .badge-tag-pPg {
                white-space: nowrap;
                justify-content: center;
                width: 4.898rem;
                display: flex;
                color: rgba(0, 0, 0, 0.400000006);
                flex-shrink: 0;
                font-family: Pretendard, 'Source Sans Pro';
                align-items: center;
                background-color: #e5ecf6;
                height: 100%;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.7142855975;
                border-radius: 0.4rem;
              }
            }
          }
        }
      }
    }
    .property-12-UUE {
      padding-left: 1.4rem;
      width: 100%;
      height: 15rem;
      flex-shrink: 0;
      box-sizing: border-box;

      .step-vertical-artwork-active-pHC {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .auto-group-djmz-xeJ {
          width: 3.6rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 1.4rem;

          .line-top-WA2 {
            margin: 0 1.7rem;
            width: calc(100% - 3.4rem);
            height: 5.7rem;
            background-color: #19c645;
            flex-shrink: 0;
          }
          .generic-letters-36-3Qr {
            width: 100%;
            height: 3.6rem;
            position: relative;
            overflow: hidden;
            background-color: #e9ffee;
            border-radius: 1.8rem;
            flex-shrink: 0;

            .inside-background-PDp {
              top: 0.4rem;
              background-color: #19c645;
              border-radius: 1.4rem;
              width: 2.8rem;
              height: 2.8rem;
              position: absolute;
              left: 0.4rem;
            }
            .item-2-7Qi {
              display: flex;
              font-family: PingFang SC, 'Source Sans Pro';
              white-space: nowrap;
              left: 1.4rem;
              top: 0.6rem;
              color: #ffffff;
              height: 2.4rem;
              position: absolute;
              align-items: center;
              justify-content: center;
              font-weight: 500;
              width: 0.8rem;
              font-size: 1.6rem;
              line-height: 1.5;
            }
          }
          .line-bottom-nWr {
            margin: 0 1.7rem;
            width: calc(100% - 3.4rem);
            height: 5.7rem;
            background-color: #19c645;
            flex-shrink: 0;
          }
        }
        .start-vd4 {
          padding: 1.8rem 1.6rem;
          width: 35rem;
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1000000015);
          flex-shrink: 0;
          box-sizing: border-box;
          height: calc(100% - 2.9005rem);
          background-color: #ffffff;
          border-radius: 0.8rem;
          margin: 1.4503rem 0;

          .text-3hg {
            width: 27.2rem;
            height: 100%;

            .frame-1171274796-Caa {
              display: flex;
              align-items: flex-end;
              margin: 0rem 7.1rem 0.5rem 0rem;
              width: calc(100% - 7.1rem);

              .magicform-Xcr {
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1;
                color: #000000;
                font-family: Pretendard, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 1.7rem 0.1rem 0rem;
              }
              .star-rating-rf8 {
                margin-top: 0.8rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .frame-375269-Cyt {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.4rem 0.1rem 0rem;
                  width: 3.2rem;
                  height: 1.6rem;
                  object-fit: contain;
                }
                .item--8Mk {
                  font-weight: 400;
                  color: #777777;
                  white-space: nowrap;
                  margin-top: 0.1rem;
                  line-height: 1.2575;
                  font-family: Pretendard, 'Source Sans Pro';
                  display: flex;
                  align-items: baseline;
                  flex-shrink: 0;
                  font-size: 1.2rem;

                  .item--8Mk-sub-0 {
                  }
                  .item--8Mk-sub-1 {
                    line-height: 1.2575;
                    color: #777777;
                    font-family: Pretendard, 'Source Sans Pro';
                    font-size: 1.2rem;
                    font-weight: 700;
                  }
                }
              }
            }
            .ai--Xen {
              white-space: nowrap;
              margin-bottom: 0.8rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.3333333333;
              color: #5b5b5b;
              font-family: Pretendard, 'Source Sans Pro';
            }
            .frame-1171274796-qfU {
              height: 2.6995rem;
              display: flex;
              align-items: center;

              .badge-tag-PS6 {
                width: 4.898rem;
                display: flex;
                line-height: 1.7142855975;
                background-color: #e5ecf6;
                margin-right: 0.6rem;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.400000006);
                justify-content: center;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-family: Pretendard, 'Source Sans Pro';
                align-items: center;
                height: 100%;
                white-space: nowrap;
                border-radius: 0.4rem;
              }
              .badge-tag-UyL {
                line-height: 1.7142855975;
                white-space: nowrap;
                justify-content: center;
                background-color: #e5ecf6;
                display: flex;
                height: 100%;
                color: rgba(0, 0, 0, 0.400000006);
                border-radius: 0.4rem;
                width: 4.898rem;
                font-family: Pretendard, 'Source Sans Pro';
                align-items: center;
                flex-shrink: 0;
                margin-right: 0.6rem;
                font-weight: 600;
                font-size: 1.4rem;
              }
              .badge-tag-P4i {
                color: rgba(0, 0, 0, 0.400000006);
                background-color: #e5ecf6;
                border-radius: 0.4rem;
                display: flex;
                font-size: 1.4rem;
                font-weight: 600;
                font-family: Pretendard, 'Source Sans Pro';
                width: 4.898rem;
                height: 100%;
                flex-shrink: 0;
                white-space: nowrap;
                align-items: center;
                line-height: 1.7142855975;
                justify-content: center;
              }
            }
          }
        }
      }
    }
    .property-13-qhQ {
      width: 100%;
      height: 15rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-left: 1.4rem;

      .step-vertical-artwork-active-C2A {
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;

        .auto-group-y27h-jnn {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 1.4rem;
          width: 3.6rem;

          .line-top-BPt {
            margin: 0 1.7rem;
            width: calc(100% - 3.4rem);
            height: 5.7rem;
            background-color: #19c645;
            flex-shrink: 0;
          }
          .generic-letters-36-XTk {
            flex-shrink: 0;
            width: 100%;
            height: 3.6rem;
            position: relative;
            overflow: hidden;
            background-color: #e9ffee;
            border-radius: 1.8rem;

            .inside-background-Fee {
              border-radius: 1.4rem;
              width: 2.8rem;
              height: 2.8rem;
              position: absolute;
              left: 0.4rem;
              top: 0.4rem;
              background-color: #19c645;
            }
            .item-3-BYJ {
              width: 0.8rem;
              top: 0.6rem;
              font-size: 1.6rem;
              white-space: nowrap;
              position: absolute;
              justify-content: center;
              color: #ffffff;
              height: 2.4rem;
              left: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              font-family: PingFang SC, 'Source Sans Pro';
              display: flex;
              align-items: center;
            }
          }
          .line-bottom-ewg {
            margin: 0 1.7rem;
            width: calc(100% - 3.4rem);
            height: 5.7rem;
            background-color: #19c645;
            flex-shrink: 0;
          }
        }
        .start-bM8 {
          box-sizing: border-box;
          width: 35rem;
          height: calc(100% - 2.9005rem);
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 1.4503rem 0;
          padding: 1.8rem 1.6rem;
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1000000015);
          border-radius: 0.8rem;

          .text-iRk {
            height: 100%;
            width: 27.2rem;

            .frame-1171274796-GCN {
              margin: 0rem 5.5rem 0.5rem 0rem;
              width: calc(100% - 5.5rem);
              display: flex;
              align-items: flex-end;

              .magicform-CLv {
                margin: 0rem 1.7rem 0.1rem 0rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1;
                color: #000000;
                font-family: Pretendard, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .star-rating-7in {
                flex-shrink: 0;
                margin-top: 0.8rem;
                display: flex;
                align-items: center;

                .frame-375269-UJS {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.4rem 0.1rem 0rem;
                  width: 4.8rem;
                  height: 1.6rem;
                }
                .item--bdx {
                  margin-top: 0.1rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  font-family: Pretendard, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 1.2rem;
                  color: #777777;
                  display: flex;
                  align-items: baseline;
                  flex-shrink: 0;

                  .item--bdx-sub-0 {
                  }
                  .item--bdx-sub-1 {
                    color: #777777;
                    font-family: Pretendard, 'Source Sans Pro';
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: 1.2575;
                  }
                }
              }
            }
            .ai--CNr {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.3333333333;
              color: #5b5b5b;
              font-family: Pretendard, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.8rem;
            }
            .frame-1171274796-hqQ {
              height: 2.6995rem;
              display: flex;
              align-items: center;

              .badge-tag-f1Y {
                justify-content: center;
                font-size: 1.4rem;
                line-height: 1.7142855975;
                color: rgba(0, 0, 0, 0.400000006);
                height: 100%;
                white-space: nowrap;
                flex-shrink: 0;
                background-color: #e5ecf6;
                border-radius: 0.4rem;
                margin-right: 0.6rem;
                font-family: Pretendard, 'Source Sans Pro';
                align-items: center;
                width: 4.898rem;
                display: flex;
                font-weight: 600;
              }
              .badge-tag-UDt {
                font-size: 1.4rem;
                font-weight: 600;
                justify-content: center;
                margin-right: 0.6rem;
                width: 4.898rem;
                display: flex;
                font-family: Pretendard, 'Source Sans Pro';
                background-color: #e5ecf6;
                height: 100%;
                white-space: nowrap;
                line-height: 1.7142855975;
                color: rgba(0, 0, 0, 0.400000006);
                align-items: center;
                border-radius: 0.4rem;
                flex-shrink: 0;
              }
              .badge-tag-aGv {
                font-weight: 600;
                color: rgba(0, 0, 0, 0.400000006);
                white-space: nowrap;
                justify-content: center;
                background-color: #e5ecf6;
                border-radius: 0.4rem;
                width: 4.898rem;
                display: flex;
                font-family: Pretendard, 'Source Sans Pro';
                align-items: center;
                height: 100%;
                font-size: 1.4rem;
                line-height: 1.7142855975;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
  .gnb-o9g {
    align-items: center;
    flex-direction: column;
    border: dashed 0.1rem #9747ff;
    position: absolute;
    left: 142.2rem;
    top: 3.1rem;
    row-gap: 2rem;
    width: 148rem;
    height: 48.4rem;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    border-radius: 0.5rem;

    .menuhome-6ea {
      height: 9.6rem;
      backdrop-filter: blur(1rem);
      background-color: rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      width: 100%;

      .navbar1-rNr {
        align-items: center;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        padding: 2.7rem 11.2rem 2.7rem 11.8rem;
        width: 100%;
        height: 100%;
        display: flex;

        .workie-logo-BR8 {
          width: 13.3rem;
          height: 1.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 22rem;
        }
        .menu-vNi {
          margin: 0.3rem 19.65rem 0.3rem 0rem;
          height: calc(100% - 0.6rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .home-Fft {
            margin-right: 10rem;
            text-align: center;
            font-weight: 700;
            line-height: 1.6363636364;
            flex-shrink: 0;
            font-size: 2.2rem;
            letter-spacing: -0.044rem;
            color: #ffffff;
            font-family: Pretendard, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item--B3k {
            color: rgba(255, 255, 255, 0.5);
            margin-right: 8.95rem;
            text-align: center;
            font-weight: 500;
            line-height: 1.6363636364;
            letter-spacing: -0.044rem;
            font-size: 2.2rem;
            font-family: Pretendard, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item--5Q2 {
            margin-right: 7.9rem;
            line-height: 1.6363636364;
            font-family: Pretendard, 'Source Sans Pro';
            flex-shrink: 0;
            white-space: nowrap;
            text-align: center;
            font-size: 2.2rem;
            font-weight: 500;
            letter-spacing: -0.044rem;
            color: rgba(255, 255, 255, 0.5);
          }
          .aipedia-PQi {
            font-weight: 500;
            font-family: Pretendard, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            line-height: 1.6363636364;
            letter-spacing: -0.044rem;
            color: rgba(255, 255, 255, 0.5);
            white-space: nowrap;
            font-size: 2.2rem;
          }
        }
        .button-intro-K3U {
          width: 14.6rem;
          font-weight: 400;
          font-size: 1.8rem;
          justify-content: center;
          line-height: 1.2999999788;
          display: flex;
          border: solid 0.1rem #ffffff;
          box-sizing: border-box;
          border-radius: 2.5rem;
          flex-shrink: 0;
          height: 100%;
          letter-spacing: -0.054rem;
          color: #ffffff;
          font-family: Pretendard, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
        }
      }
    }
    .menustart-mRG {
      width: 100%;
      height: 9.6rem;
      backdrop-filter: blur(1rem);
      background-color: rgba(0, 0, 0, 0.25);
      flex-shrink: 0;

      .navbar1-vJA {
        box-sizing: border-box;
        padding: 2.7rem 11.2rem 2.7rem 11.8rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;

        .workie-logo-3ta {
          width: 13.3rem;
          height: 1.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 22.1rem;
        }
        .menu-Bjt {
          align-items: center;
          flex-shrink: 0;
          margin: 0.3rem 19.65rem 0.3rem 0rem;
          height: calc(100% - 0.6rem);
          display: flex;

          .home-iUv {
            letter-spacing: -0.044rem;
            font-family: Pretendard, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 10rem;
            line-height: 1.6363636364;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.5);
            text-align: center;
            font-size: 2.2rem;
          }
          .item--drn {
            line-height: 1.6363636364;
            color: #ffffff;
            font-family: Pretendard, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 8.95rem;
            text-align: center;
            font-size: 2.2rem;
            font-weight: 700;
            letter-spacing: -0.044rem;
          }
          .item--wca {
            margin-right: 7.9rem;
            line-height: 1.6363636364;
            color: rgba(255, 255, 255, 0.5);
            font-family: Pretendard, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-size: 2.2rem;
            font-weight: 500;
            letter-spacing: -0.044rem;
            white-space: nowrap;
          }
          .aipedia-4BQ {
            text-align: center;
            letter-spacing: -0.044rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.6363636364;
            color: rgba(255, 255, 255, 0.5);
            font-family: Pretendard, 'Source Sans Pro';
          }
        }
        .button-intro-aQe {
          border: solid 0.1rem #ffffff;
          width: 14.6rem;
          height: 100%;
          align-items: center;
          box-sizing: border-box;
          border-radius: 2.5rem;
          letter-spacing: -0.054rem;
          white-space: nowrap;
          color: #ffffff;
          justify-content: center;
          flex-shrink: 0;
          font-size: 1.8rem;
          line-height: 1.2999999788;
          display: flex;
          font-weight: 400;
          font-family: Pretendard, 'Source Sans Pro';
        }
      }
    }
    .menucollab-Ezz {
      width: 100%;
      height: 9.6rem;
      backdrop-filter: blur(1rem);
      background-color: rgba(0, 0, 0, 0.25);
      flex-shrink: 0;

      .navbar1-Q8n {
        height: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        padding: 2.7rem 11.2rem 2.7rem 11.8rem;
        width: 100%;

        .workie-logo-ivA {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 22.1rem;
          width: 13.3rem;
          height: 1.6rem;
        }
        .menu-4UE {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0.3rem 19.65rem 0.3rem 0rem;
          height: calc(100% - 0.6rem);

          .home-PWW {
            font-family: Pretendard, 'Source Sans Pro';
            flex-shrink: 0;
            font-weight: 500;
            line-height: 1.6363636364;
            color: rgba(255, 255, 255, 0.5);
            letter-spacing: -0.044rem;
            white-space: nowrap;
            margin-right: 10.1rem;
            text-align: center;
            font-size: 2.2rem;
          }
          .item--KQA {
            color: rgba(255, 255, 255, 0.5);
            font-family: Pretendard, 'Source Sans Pro';
            margin-right: 8.95rem;
            font-weight: 500;
            line-height: 1.6363636364;
            letter-spacing: -0.044rem;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 2.2rem;
          }
          .item--EGE {
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 700;
            letter-spacing: -0.044rem;
            font-family: Pretendard, 'Source Sans Pro';
            margin-right: 7.9rem;
            text-align: center;
            line-height: 1.6363636364;
          }
          .aipedia-9PC {
            white-space: nowrap;
            flex-shrink: 0;
            line-height: 1.6363636364;
            letter-spacing: -0.044rem;
            color: rgba(255, 255, 255, 0.5);
            font-family: Pretendard, 'Source Sans Pro';
            text-align: center;
            font-size: 2.2rem;
            font-weight: 500;
          }
        }
        .button-intro-URU {
          font-family: Pretendard, 'Source Sans Pro';
          box-sizing: border-box;
          flex-shrink: 0;
          line-height: 1.2999999788;
          letter-spacing: -0.054rem;
          white-space: nowrap;
          align-items: center;
          border: solid 0.1rem #ffffff;
          border-radius: 2.5rem;
          width: 14.6rem;
          color: #ffffff;
          display: flex;
          justify-content: center;
          height: 100%;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
    }
    .menuaipedia-8kv {
      backdrop-filter: blur(1rem);
      background-color: rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      width: 100%;
      height: 9.6rem;

      .navbar1-VLa {
        padding: 2.7rem 11.2rem 2.7rem 11.8rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        box-sizing: border-box;

        .workie-logo-QiS {
          margin-right: 22.1rem;
          width: 13.3rem;
          height: 1.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .menu-wyG {
          margin: 0.3rem 19.4rem 0.3rem 0rem;
          height: calc(100% - 0.6rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .home-5pa {
            margin-right: 10.1rem;
            font-size: 2.2rem;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.5);
            font-family: Pretendard, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            line-height: 1.6363636364;
            letter-spacing: -0.044rem;
            flex-shrink: 0;
          }
          .item--R7k {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.5);
            letter-spacing: -0.044rem;
            font-family: Pretendard, 'Source Sans Pro';
            margin-right: 8.95rem;
            text-align: center;
            line-height: 1.6363636364;
          }
          .item--j8S {
            text-align: center;
            font-size: 2.2rem;
            letter-spacing: -0.044rem;
            color: rgba(255, 255, 255, 0.5);
            white-space: nowrap;
            margin-right: 7.75rem;
            font-weight: 500;
            line-height: 1.6363636364;
            font-family: Pretendard, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .aipedia-3up {
            letter-spacing: -0.044rem;
            flex-shrink: 0;
            font-size: 2.2rem;
            line-height: 1.6363636364;
            color: #ffffff;
            font-family: Pretendard, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-weight: 700;
          }
        }
        .button-intro-mav {
          color: #ffffff;
          align-items: center;
          border-radius: 2.5rem;
          width: 14.6rem;
          line-height: 1.2999999788;
          white-space: nowrap;
          box-sizing: border-box;
          height: 100%;
          letter-spacing: -0.054rem;
          font-family: Pretendard, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          border: solid 0.1rem #ffffff;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
    }
  }
}
